
html {
    font-family: Calibri, monospace;
    background-color: whitesmoke;
}

body{
    text-align: center;
    width: 90vw;
    margin: auto;
    display: flex;
    min-height:100vh;
    flex-direction: column;
}



ul {
    list-style: none outside none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;

    padding:0;
}

ol {
    list-style: none outside none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    padding:0;
}


ul li {
    border: 1px white solid;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    background-color: darkviolet;
    min-width: 110px;
}

a {
    text-decoration: none;
    color: purple;
}

ul li a {
    color: white;
    font-weight: bold;
}


article {
   border: solid darkviolet 1px;
    margin: 5px;
    border-radius: 3px;
    padding: 5px;
}

img[src*="#thumbnail"] {
    width:150px;
    height:100px;
}


/* partie responsive qui déchire*/

/*design pour petits écrans*/
@media only screen and (max-width: 600px) {
    img, svg {
        display: none;
        }

}


